<!DOCTYPE html>
<html>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="static/graph.css">

<script>
	var institution = "{{selected}}"; 
</script>

<body>
<script src="https://d3js.org/d3.v4.min.js"></script>
<h2 align="center">Publication Graph</h2>
<p>The Graph may take a moment to be render because th amount of vertex</p>
<form method="POST">
<p>Filters</p>
<ul>
<li>Institution: 
<select name="institution">
{%for i in institutions.keys() %}
 <option value="{{i}}" {{"selected" if selected == i}}>{{institutions[i]}}</option>
{% endfor %}
</select>

</ul>
<p><input type="submit" value="Go" /></p>
</form>
<script type="text/javascript" src="static/graph.js"></script>
<div class="">
    <div id="myGraph"></div>
</div>
</body>
</html>