{% extends "base.html" %}
{% block title %}Users profile{% endblock %}

{%block head%}
{{super()}}
{%endblock%}

{%block content%}
<h1>{{user.name}}</h1>

{% if user.lattesurl is not none %}
<p>Lattes currculum: <a href="{{user.lattesurl}}">{{user.lattesurl}}</a></p>
{% endif %}
<hr>

<p>Areas of interest</p>
{%if user.bagofareas is not none %}
<ul>
{% for area in user.bagofareas %}
	<li> {{area}}
{% endfor %}
</ul>
{% else %}
	<p>We were unable to find any area of interest.</p>
{% endif %}


{%if user.recomendation|length > 0 %}
	<p>Recommendations for {{user.name}}</p>
	<ul>
	{% for author in user.recomendation %}
		<li>{{ author|safe }}
	{%endfor%}
	</ul>
{%endif%}

<p>Publications</p>

<p><a onclick="javascript:history.back()">Back</a></p>
{% endblock %}